body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.h1 {
    font-size: 2.8rem;
}

.h2 {
    font-size: 2.5rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.login-view {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: 'center';
    background-color: rgba(227, 231, 233, 0.5);
    /* background-color: white; */
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0px 1px 4px #909497;
    border: none;
    border-color: black;
    outline: none;
    padding: 1%;
}

@media screen and (max-width: 480px) {
    .login-view {
        width: 90%;
    }
}

.title {
    margin: auto;
    font-size: 14px;
    font-weight: bold;
}

.botonera {
    position: absolute;
    bottom: 5%;
    left: 1%;
}

.target {
    position: relative;
    width: 90%;
    height: 98%;
    margin: 1% 2%;
    padding: 4% 1%;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    box-shadow: 0px 1px 4px #909497;
    border-radius: 1px;
    border: none;
    border-color: black;
    outline: none;
    color: white;
}

.icon-target {
    position: absolute;
    font-size: 2em;
    top: 25%;
    left: 45%;
    padding-top: 30%;
    opacity: 0;
    padding: 0px;
}

.avatar {
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.avatar:hover {
    opacity: 0.3;
}

.avatar:hover+.icon-target {
    opacity: 1;
}

.icon-target:hover {
    opacity: 1;
    color: black;
}

.center-vertical {
    margin: 0.2% -2% 0 2%;
}

.progregres-green {
    background-color: #4355a1!important;
}

.bordered {
    box-shadow: 0px 1px 4px #909497;
    border-radius: 5px;
    border: none;
    border-color: black;
    outline: none;
    background: white;
    padding: 1%;
}

.input {
    width: 100% !important;
}

.drawer-style {
    color: white;
    background-color: black;
    height: 100vh;
    width: 100%;
}

.ant-drawer-body {
    background-color: black;
}

#titles {
    position: absolute;
    width: 98%;
    height: 100%;
    bottom: 0;
    left: 50%;
    margin-left: -50%;
    font-size: 5rem;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(600px) rotateX(20deg);
}

#titlecontent {
    position: absolute;
    top: 100%;
}

#titlecontent {
    animation: scroll 25s linear 1s infinite;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -400%;
    }
}

/* menor de 300 */

#titlecontent-menor {
    position: absolute;
    top: 100%;
}

#titlecontent-menor {
    animation: scrollm 25s linear 1s infinite;
}

@keyframes scrollm {
    0% {
        top: 100%;
    }
    100% {
        top: 0%;
    }
}

#titles:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 1) 0%, transparent 100%);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 1) 0%, transparent 100%);
    background-image: linear-gradient(rgba(0, 0, 0, 1) 0%, transparent 100%);
    pointer-events: none;
}

.fondo-primer-success {
    background: #56ab2f;
    background: -webkit-linear-gradient(to right, #0d703a, #79c15d);
    background: linear-gradient(to right, #0d703a, #79c15d);
}

.fondo-primer-info {
    background: #fff019;
    background: -webkit-linear-gradient(to right, #1565c0, #1e88e5);
    background: linear-gradient(to right, #1565c0, #1e88e5);
}

.fondo-primer-danger {
    background: #ba000d;
    background: -webkit-linear-gradient(to right, #ba000d, #f44330);
    background: linear-gradient(to right, #ba000d, #f44330);
}

.fondo-primer-warning {
    background: #eef112;
    background: -webkit-linear-gradient(to right, #fdd835, #ffff6b);
    background: linear-gradient(to right, #fdd835, #ffff6b);
}

.progress-ranking {
    height: 100%;
}

.indicadores-gestores {
    position: relative;
    height: 100%;
    min-width: 33% !important;
    text-align: center;
}

.scroll-gestores {
    height: 70% !important;
    width: 100% !important;
    display: flex;
    direction: row;
    overflow-x: auto;
}

.scroll-gestores::-webkit-scrollbar {
    -webkit-appearance: none;
}

.logo-departamento {
    position: absolute;
    bottom: 10px;
    right: 15%;
    width: 20%;
}

.logo-departamento, img {
    text-align: right;
}

.logo-oca {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.nombre-super {
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 100%;
    margin-left: 25%;
}

/* #sticky-footer {
    position: absolute;
    bottom: 14%;
    right: 5%;
    width: 94% !important;
    border: solid black 1px;
    background-color: white;
} */

.gestores {
    width: 100%;
    display: flex;
    direction: row;
    justify-content: center;
}

.footer {
    border: solid black 0.5px;
    background-color: white;
}

.animacion-top {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
    opacity: 0;
}

.animacion-top {
    animation: imagen 10s;
}

@keyframes imagen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.animacion-posicion {
    opacity: 1;
}

.animacion-posicion {
    animation: top 10s;
}

@keyframes top {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.posicion {
    -webkit-text-stroke: 0.5px black;
    color: #4bbbe8;
}